<!DOCTYPE html>
<html th:fragment="layout (template)" lang="en">
<head>
    <title>advertisement-webapp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" href="#" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="module" src="#" th:src="@{/js/dynamic.js}" defer></script>
    <script type="module" src="#" th:src="@{/js/main.js}" defer></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">advertisement-webapp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}" th:classappend="${#request.requestURI == '/' ? 'active':''}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/myAccount}" th:classappend="${#request.requestURI == '/myAccount' ? 'active':''}">My Account</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            choose town
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/changeCity/Berlin}">Berlin</a></li>
                            <li><a class="dropdown-item" th:href="@{/changeCity/Hamburg}">Hamburg</a></li>
                            <li><a class="dropdown-item" th:href="@{/changeCity/München}">München</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" action="#" th:action="@{/getArticles}" th:object="${searchRequest}" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" th:field="*{term}">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="content-wrapper mt-3">
    <div class="container">
        <!--/*@thymesVar id="template" type="templates"*/-->
        <section th:include="${template}"></section>
    </div>
</main>
</body>
</html>