<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" lang="en">
<body>
<h1>Search Results</h1>

    <p th:if="${ads.isEmpty()}">
        Ihre Suchanfrage ergab leider keine Treffer
    </p>
    <ol class="list-group list-group-numbered">
    <p th:each="ad : ${ads}">
        <li class="list-group-item">
        <b>
        <span th:text="${ad.title}">Title</span>
        </b>
        <span class="badge bg-primary rounded-pill" th:text="${ad.town}">City</span>
        </li>
    </p>
    </ol>
</body>
</html>